---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Dream Meaning Guide">
  <h1>About</h1>
  <p>DreamMeaningGuide.site is a calm, trusted resource for exploring the deeper meaning behind your dreams.
Our mission is simple: to help you understand the symbols, emotions, and patterns that appear in your inner world with clarity, insight, and a sense of wonder.

We believe dreams are more than random images.
They are messages, metaphors, and reflections of your inner life.

DreamMeaningGuide is part of The Meaning Atlas, a growing network of sites dedicated to helping people explore symbols, signs, and spiritual meaning across many traditions.

Whether you’re curious about a recurring dream, a powerful symbol, or a strange moment that stayed with you we’re here to help you interpret it.</p>
<center><img 
  src="/svglogo.png" 
  alt="Dream Meaning Guide Logo"
  style="
    height: 100px; 
    width: auto;
    background: white;
    padding: 0.1rem 0.2rem;
    border-radius: 12px;
  "
/></center>
</BaseLayout>

