---
import Layout from '../layouts/BaseLayout.astro';
import { glob } from 'astro/loaders';

// Load all Markdown files in THIS folder
const posts = await glob('./*.md');

// Sort alphabetically by URL
posts.sort((a, b) => a.url.localeCompare(b.url));
---

<Layout title="Dream Interpretations">
  <h1>All Dream Interpretations</h1>
  <p>Browse the full list of dream meanings available on Dream Meaning Guide.</p>

  <ul>
    {posts.map((post) => (
      <li>
        <a href={post.url}>
          {post.url
            .split('/')
            .pop()
            .replace('.md', '')
            .replace(/-/g, ' ')
            .replace(/\b\w/g, (c) => c.toUpperCase())}
        </a>
      </li>
    ))}
  </ul>
</Layout>
