---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Dream Meaning Guide">
  <h1>Dream Meaning Guide</h1>
  <p>Explore the meaning of your dreams.</p>

  <ul>
    <li><a href="/dreams/">Browse all dream interpretations</a></li>
  </ul>
</Layout>
