---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sitemap">
  <h1>Sitemap</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dreams">Dreams</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/terms">Terms of Use</a></li>
  </ul>
</BaseLayout>

