---
import BaseLayout from './BaseLayout.astro';
const { title, description } = Astro.props;
---

<BaseLayout {title} {description}>
  <article>
    <h1>{title}</h1>
    <p style="color:#666; margin-bottom:2rem;">{description}</p>
    <slot />
  </article>

  <style>
    article h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    article p {
      font-size: 1.1rem;
      line-height: 1.6;
    }
    article {
      line-height: 1.7;
      font-size: 1.05rem;
    }
  </style>
</BaseLayout>
